<div class="board">
  <% 8.times do |y_index|%>
    <span class="row">
      <% 8.times do |x_index| %>
        <div class="square" <%= "x#{x_index}y#{7-y_index}"%>></div>
      <% end %>
    </span class="row">
  <% end %>
</div>
