<form id="sign-in" method="post" action="/login">
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name="password" placeholder="password"><br>
</form>

<form id="register" method="post" action="/users">
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name="password" placeholder="password"><br>
</form>
